<div class="card">
  <p class="ml-4"><%= params[:question] %></p>
  <p class="ml-4">- You</p>
</div>
<div class="card">
  <p class="ml-4"><%= @answer %></p>
  <p class="ml-4">- Your coatch</p>
</div>
<%= link_to "Ask a new question", ask_path %>




