  <div class="form-group">
    <form action="/answer" method="get">
      <label>Ask your coach anything:</label>
      <div class="d-flex">
        <input type="text" class="form-control" name="question">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
   </div>
</div>
